$sidebar_width_onClose: 80px;
$sidebar_width_open: 250px;
$gray_light: rgb(235, 239, 242);
$gray_dark: rgb(147, 143, 143);
$sidebar_bg_color: #06121e;
$on_hover: rgb(0, 119, 255);
$white: #fff;
$blue_light: #1d2f3f;
